@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
$pink: #dd538d;
$black: #10221b;
$white: #fff;
$light-bg: #eee;
$border: 0.2rem solid $black;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}
@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@mixin overlay($color, $opacity) {
  @include cover();
  background-color: rgba($color, $opacity);
}
@mixin polits($width, $hieght) {
  width: $width;
  height: $hieght;
  border-radius: 50%;
}
@mixin price {
  padding: 1rem 0;
  padding-top: 0.5rem;
  font-size: 2rem;
  color: $pink;
}
html {
  font-size: 62.5%; // base 10px
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $black;
  }
}
section {
  padding: 5rem 9%;
}
.heading {
  text-align: center;
  font-size: 3rem;
  margin: 2.5rem auto;
  color: $black;
}
.btn {
  cursor: pointer;
  border: $border;
  border-width: 0.1rem;
  padding: 1rem 2rem;
  color: $black;
  font-size: 1.8rem;
  &:hover {
    background-color: $pink;
    font-size: 2rem;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.scrol {
    background-color: $white;
  }
  .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: $black;
    i {
      color: $pink;
    }
  }
  .links {
    #cross {
      display: none;
    }
    a {
      margin-left: 2rem;
      font-size: 1.7rem;
      color: $black;
      position: relative;
      &:hover {
        color: $pink;
        &::after {
          content: "";
          position: absolute;
          bottom: -1rem;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $pink;
        }
      }
    }
  }
  .icons {
    * {
      font-size: 2.5rem;
      margin-left: 2rem;
      cursor: pointer;
      color: $black;
      &:hover {
        color: $pink;
      }
    }
    .menu {
      display: none;
    }
  }
} //end header
//search box
.search-form {
  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include overlay(#000, 0.8);
  display: none;
  z-index: 1000;
  form {
    width: 90%;
    height: 0;
    padding: 0 1em 4rem;
    border-bottom: 0.3rem solid $white;
    label {
      font-size: 3rem;
      position: absolute;
      right: 4rem;
      color: $white;
      cursor: pointer;
      &:hover {
        color: $pink;
      }
    }
  }
  #search-box {
    color: $white;
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    background-color: transparent; //background: none;
    &::placeholder {
      padding-left: 2rem;
      color: #aaa;
    }
  }
  #close-search {
    position: fixed;
    right: 3rem;
    top: 8rem;
    color: $white;
    font-weight: 900;
    cursor: pointer;
    font-size: 6rem;
    &:hover {
      color: $pink;
    }
  }
}
.home {
  // height: 100vh;
  padding: 0;
  .view-section {
    .view {
      background-repeat: no-repeat;
      background-size: cover !important;
      background-position: center;
      background-color: $pink;
      width: 100%;
      height: 100vh;
      z-index: -100;
      &-1 {
        background-image: url(/images/home-bg-1.jpg);
        .view-content {
          margin-left: auto !important;
        }
      }
      &-2 {
        background-image: url(/images/home-bg-2.jpg);
        .view-content {
          margin-right: auto !important;
        }
      }
      &-3 {
        background-image: url(/images/home-bg-3.jpg);
        .view-content {
          margin-left: auto !important;
        }
      }
      & {
        display: none;
        &.active {
          display: flex;
        }
      }

      .view-content {
        text-align: left;
        width: 52rem;
        margin-top: 18rem;
        h2 {
          font-size: 6rem;
          color: $pink;
          text-transform: uppercase;
        }
        span {
          display: block;
          font-size: 4rem;
        }
        p {
          font-size: 1.7rem;
          padding: 1.5rem 0 2.5rem;
        }
      }
      padding: 0 9%;
    }
    i {
      font-size: 4rem;
      cursor: pointer;
      color: $black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.next {
        right: 4rem;
      }
      &.prev {
        left: 4rem;
      }
      &:hover {
        color: $pink;
      }
    }
    ul {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-flow: row;
      li {
        @include list-reset();
        @include polits(3rem, 3rem);
        border: 0.3rem solid;
        border-color: $black;
        background-color: $white;
        margin-left: 1rem;
        cursor: pointer;
        &.active {
          border: none;
          background-color: $pink;
        }
      }
    }
  }
}

.category {
  .box-container {
    @include grid(29rem);
    .box {
      text-align: center;
      font-size: 2rem;
      padding: 1rem;
      p {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
      }
      img {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        margin-top: 2rem;
      }
    }
  }
}
.about {
  background-color: $light-bg;
  @include grid(45rem);
  gap: 3.5rem;
  .img {
    width: 90%;
    position: relative;
    padding-bottom: 5rem;
    img {
      box-shadow: 4rem 4rem 0px 0px rgba(0, 0, 0, 0.5);
      max-width: 100%;
    }
  }
  .info {
    h3 {
      font-size: 3rem;
      color: $pink;
    }
    p {
      margin: 2rem 0;
      padding: 1rem 0;
      font-size: 1.7rem;
    }
  }
}
.shop {
  .slide {
    border: $border;
    &:hover .image .icons {
      transform: translateY(0);
    }
    .image {
      position: relative;
      overflow: hidden;
      height: 30rem;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .icons {
        width: 100%;
        position: absolute;
        bottom: 2rem;
        left: 0;
        text-align: center;
        z-index: 10;
        transform: translateY(7rem);
        a {
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4.5rem;
          font-size: 1.7rem;
          background: #10221b;
          color: #fff;
          margin: 0 0.2rem;
          &:hover {
            background: $pink;
          }
        }
      }
    }
    .content {
      padding: 1rem 0;
      text-align: center;
      h3 {
        font-size: 2rem;
        color: $black;
      }
      @include price();
      .stars {
        i {
          font-size: 1.7rem;
          color: $pink;
        }
      }
    }
  }
  .next,
  .prev {
    // position: relative;
    // top: 1rem;
    color: $pink;
  }
}
.package {
  background-color: $light-bg;
  .box-container {
    @include grid(32rem);
    .box {
      padding: 2rem;
      text-align: center;
      border: $border;
      border-radius: 0.6rem;
      .price {
        @include price();
      }
      &:hover {
        background-color: $black;
        color: $white;
        .btn {
          background-color: $pink;
          color: $white;
        }
      }
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
        width: 75%;
        margin: 1rem auto 0;
      }
      img {
        max-width: 100%;
        border-radius: 0.6rem;
        margin-bottom: 1rem;
      }
    }
  }
}
.reviews {
  .box-container {
    // @include grid(32rem);
    .box {
      height: 100%;
      p {
        background-color: $light-bg;
        border-radius: 0.6rem;
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 2rem;
        padding: 2rem;
        line-height: 2;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -3.8rem;
          left: 0;
          border: 2rem solid;
          border-color: $light-bg transparent transparent transparent;
        }
      }
      .info-img {
        display: flex;
        img {
          width: 7rem;
          height: 7rem;
          margin: 0 1rem 0;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
.offer {
  background-color: $light-bg;
  .box-container {
    @include grid(32rem);
    .box {
      border: $border;
      border-radius: 0.6rem;
      text-align: center;
      padding: 2rem;
      &:hover {
        background-color: $black;
        color: $white;
        .btn {
          background-color: $pink;
        }
        img {
          filter: invert(1);
        }
      }
      img {
        max-width: 100%;
        height: 10rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
        padding: 2rem 0;
        line-height: 2;
        width: 80%;
        margin: 0 auto 0.5rem;
      }
      h3 {
        font-size: 2rem;
        margin-top: 1rem;
        color: $pink;
      }
    }
  }
}
.blogs {
  .box-container {
    .box {
      margin-bottom: 2rem;
      // border: $border;
      height: 100%;
      .image {
        img {
          max-width: 100%;
          height: 25rem;
          border-radius: 0.6rem;
        }
        text-align: center;
        .user {
          display: inline-block;
          background-color: $black;
          color: $white;
          cursor: pointer;
          padding: 2rem;
          position: relative;
          top: -3.8rem;
          border-radius: 0.6rem;
          i {
            display: inline-block;
            padding-left: 1rem;
            color: $pink;
            font-size: 1.5rem;
            font-weight: normal;
            span {
              color: $white;
              margin-left: 1rem;
            }
            cursor: pointer;
            &:hover span {
              color: $pink;
            }
          }
        }
      }
      .info {
        margin-bottom: 2.5rem;
        text-align: center;
        h3 {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.6rem;
          margin-bottom: 3rem;
        }
        .btn {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
.subscribe {
  background-color: $light-bg;
  .content {
    text-align: center;
    .heading {
      font-size: 5rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 2;
    }
  }
  .form {
    box-flex-group: $black;
    margin: 1rem;
    position: relative;
    border: $border;
    border-radius: 5rem;
    z-index: 5;
    input[type="email"] {
      border-radius: 5rem;
      width: 100%;
      height: 7rem;
      padding: 2rem;
    }
    input[type="submit"] {
      position: absolute;
      right: 3rem;
      top: 1rem;
      border-radius: 5rem;
      background-color: $black;
      color: $white;
      font-size: 2rem;
      padding: 1rem 2rem;
      cursor: pointer;
      &:hover {
        background-color: $white;
        color: $black;
        border: $border;
      }
    }
  }
}
.clients {
  img {
    height: 12rem;
  }
}
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/footer-bg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.5);
  //   // z-index: -1;
  // }
  .box-container {
    @include grid(25rem);
    color: $white;
    padding: 2rem;
    .box {
      display: flex;
      flex-flow: column;
      font-size: 1.5rem;
      text-align: center;
      h3 {
        margin-bottom: 2rem;
      }
      a {
        color: $white;
        margin-bottom: 4rem;
        font-size: 1.8rem;
        &:hover {
          color: $pink;
        }
      }
      i {
        color: $pink;
      }
    }
  }
  .credit {
    font-size: 2rem;
    color: $white;
    width: fit-content;
    margin-left: auto;
    margin-right: 5rem;
    padding-bottom: 2rem;
    span {
      color: $pink;
    }
  }
}
//media Quary
$max-mopile: "max-width: 767px";
$min-mopile: "min-width: 767px";
// $min-med: "min-width: 768px";
// $max-med: "max-width: 768px";
$min-large: "min-width: 991px";
$max-large: "max-width: 991px";
$min-xlarge: "min-width: 1200px";
$max-xlarge: "max-width: 1200px";
@media ($max-mopile) {
  html {
    font-size: 40%;
    scroll-padding-top: 7rem;
  }
  .header {
    // position: relative;
    #menu {
      display: inline-block;
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 1000px;
      top: 0;
      background-color: $white;
      z-index: 1000;
      width: 48%;
      height: 100%;

      #cross {
        display: block;
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        font-size: 5rem;
        font-weight: 900;
        cursor: pointer;
      }
      &.active {
        left: 0px;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
      }
      a {
        margin: 1.5rem 0;
        font-size: 3rem;
      }
    }
  }
}
// @media ($min-med) {
// }
@media ($max-large) {
  html {
    font-size: 50%;
    // scroll-padding-top: 7rem;
  }
  .home {
    .view-section {
      .view {
        background-position: right !important;
        .view-content {
          width: 78%;
          margin: {
            left: auto;
            right: auto;
          }
          text-align: center !important;
        }
      }
    }
  }
  .about {
    .info {
      text-align: center;
      margin-top: 3rem;
    }
  }
}
@media ($max-xlarge) {
  .header {
    padding: 2rem;
    &.scrol {
      background-color: $white;
    }
  }
  section,
  footer {
    padding: 3rem 2rem;
  }
}
@media ($min-xlarge) {
  // .search-form {
  //   right: 9%;
  // }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}
