@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
$green: #219150;
$black: #10221b;
$white: #fff;
$light-bg: #eee;
$border: 0.2rem solid $black;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}
html {
  font-size: 63%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $black;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: $black;
    i {
      color: $green;
    }
  }
  .links {
    #cross {
      display: none;
    }
    a {
      margin-left: 2rem;
      font-size: 1.7rem;
      color: $black;
      position: relative;
      &:hover {
        color: $green;
        &::after {
          content: "";
          position: absolute;
          bottom: -1rem;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $green;
        }
      }
    }
  }
  .icons {
    * {
      font-size: 2.5rem;
      margin-left: 2rem;
      cursor: pointer;
      color: $black;
      &:hover {
        color: $green;
      }
    }
    .menu {
      display: none;
    }
  }
}
//media Quary
$max-mopile: "max-width: 767px";
$min-med: "min-width: 768px";
$min-large: "min-width: 991px";
$max-xlarge: "max-width: 1100px";
@media ($max-mopile) {
  .header {
    position: relative;
    #menu {
      display: inline-block;
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 1000px;
      top: 0;
      background-color: $white;
      z-index: 1000;
      width: 48%;
      height: 100%;

      #cross {
        display: block;
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        font-size: 5rem;
        font-weight: 900;
        cursor: pointer;
      }
      &.active {
        left: 0px;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
      }
      a {
        margin: 1.5rem 0;
        font-size: 3rem;
      }
    }
  }
}
body {
    height: 1000px;
}
@media ($min-med) {
}
@media ($min-large) {
}
@media ($max-xlarge) {
}
