@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background-color: #fff;
}
html::-webkit-scrollbar-thumb {
  background-color: #10221b;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin: 2.5rem auto;
  color: #10221b;
}

.btn {
  border: 0.2rem solid #10221b;
  border-width: 0.1rem;
  padding: 1rem 2rem;
  color: #10221b;
  font-size: 1.8rem;
}
.btn:hover {
  background-color: #dd538d;
  font-size: 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header.scrol {
  background-color: #fff;
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #10221b;
}
.header .logo i {
  color: #dd538d;
}
.header .links #cross {
  display: none;
}
.header .links a {
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #10221b;
  position: relative;
}
.header .links a:hover {
  color: #dd538d;
}
.header .links a:hover::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #dd538d;
}
.header .icons * {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}
.header .icons *:hover {
  color: #dd538d;
}
.header .icons .menu {
  display: none;
}

.search-form {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
}
.search-form.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form form {
  width: 90%;
  height: 0;
  padding: 0 1em 4rem;
  border-bottom: 0.3rem solid #fff;
}
.search-form form label {
  font-size: 3rem;
  position: absolute;
  right: 4rem;
  color: #fff;
  cursor: pointer;
}
.search-form form label:hover {
  color: #dd538d;
}
.search-form #search-box {
  color: #fff;
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  background-color: transparent;
}
.search-form #search-box::-moz-placeholder {
  padding-left: 2rem;
  color: #aaa;
}
.search-form #search-box:-ms-input-placeholder {
  padding-left: 2rem;
  color: #aaa;
}
.search-form #search-box::placeholder {
  padding-left: 2rem;
  color: #aaa;
}
.search-form #close-search {
  position: fixed;
  right: 3rem;
  top: 8rem;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  font-size: 6rem;
}
.search-form #close-search:hover {
  color: #dd538d;
}

.home {
  height: 100vh;
}
.home div.view-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding: 0 9%;
}
.home div.view-section div {
  display: none;
}
.home div.view-section div.active {
  display: block;
}
.home div.view-section .view-1,
.home div.view-section .view-2,
.home div.view-section .view-3 {
  width: 50rem;
}
.home div.view-section .view-1 p.background,
.home div.view-section .view-2 p.background,
.home div.view-section .view-3 p.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #dd538d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.home div.view-section .view-1.view-2,
.home div.view-section .view-2.view-2,
.home div.view-section .view-3.view-2 {
  margin-right: auto;
}
.home div.view-section .view-1 h2,
.home div.view-section .view-2 h2,
.home div.view-section .view-3 h2 {
  font-size: 6rem;
  color: #dd538d;
  text-transform: uppercase;
}
.home div.view-section .view-1 span,
.home div.view-section .view-2 span,
.home div.view-section .view-3 span {
  display: block;
  font-size: 4rem;
}
.home div.view-section .view-1 p,
.home div.view-section .view-2 p,
.home div.view-section .view-3 p {
  font-size: 1.7rem;
  padding: 1.5rem 0 2.5rem;
}
.home div.view-section i {
  font-size: 4rem;
  cursor: pointer;
  color: #10221b;
}
.home div.view-section i.next {
  position: absolute;
  right: 5rem;
}
.home div.view-section i.prev {
  position: absolute;
  left: 5rem;
}
.home div.view-section i:hover {
  color: #dd538d;
}
.home div.view-section ul {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row;
}
.home div.view-section ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.3rem solid;
  border-color: #10221b;
  background-color: #fff;
  margin-left: 1rem;
  cursor: pointer;
}
.home div.view-section ul li.active {
  border: none;
  background-color: #dd538d;
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}
.category .box-container .box {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}
.category .box-container .box p {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
.category .box-container .box img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-top: 2rem;
}

.about {
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 1.5rem;
  gap: 3.5rem;
}
.about .img {
  width: 90%;
  position: relative;
  padding-bottom: 5rem;
}
.about .img img {
  box-shadow: 4rem 4rem 0px 0px rgba(0, 0, 0, 0.5);
  max-width: 100%;
}
.about .info h3 {
  font-size: 3rem;
  color: #dd538d;
}
.about .info p {
  margin: 2rem 0;
  padding: 1rem 0;
  font-size: 1.7rem;
}

.shop .slide {
  border: 0.2rem solid #10221b;
}
.shop .slide:hover .image .icons {
  transform: translateY(0);
}
.shop .slide .image {
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}
.shop .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  transform: translateY(7rem);
}
.shop .slide .image .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #10221b;
  color: #fff;
  margin: 0 0.2rem;
}
.shop .slide .image .icons a:hover {
  background: #dd538d;
}
.shop .slide .content {
  padding: 1rem 0;
  text-align: center;
}
.shop .slide .content h3 {
  font-size: 2rem;
  color: #10221b;
}
.shop .slide .content .price {
  padding: 1rem 0;
  padding-top: 0.5rem;
  font-size: 2rem;
  color: #dd538d;
}
.shop .slide .content .stars i {
  font-size: 1.7rem;
  color: #dd538d;
}
.shop .next, .shop .prev {
  color: #dd538d;
}

@media (max-width: 767px) {
  .header {
    position: relative;
  }
  .header #menu {
    display: inline-block;
  }
  .header .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 1000px;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    width: 48%;
    height: 100%;
  }
  .header .links #cross {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    font-size: 5rem;
    font-weight: 900;
    cursor: pointer;
  }
  .header .links.active {
    left: 0px;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .links a {
    margin: 1.5rem 0;
    font-size: 3rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .view-section .view {
    margin: 0 auto;
    text-align: center;
  }
  .about .info {
    text-align: center;
    margin-top: 3rem;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */